html, body {
  margin: 0;
  height: 100%;
  padding: 0;
  overflow:hidden;
}

body {
  font-family: 'Titillium Web', sans-serif;
}
.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}


/*Shape list*/
#shapeListWrapper{
  position:absolute;
  display: inline-block;
  padding-top: 1px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 400px;
  width:300px;
  right:0;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  z-index: 1;
}

/*Individual Shape*/
.shapeWrapper{
  display:inline-block;
  width:300px;
  right:0;
  border-bottom: 1px solid black;
  border-radius: 10px;
}

.shapeWrapper p{
  font-size:15px;
  text-align:left;
  padding-left:10;
}

.shapeWrapper .shapeButton button{
  font-size: 40px;
  font-family: 'Titillium Web', sans-serif;
  width: 275px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: #ccf2ff;
  color: #595959;
}

.shapeWrapper .shapeButton button:hover {
  background-color:  #d9d9d9;
}

.shapeWrapper .shapeButton button:focus {
  background-color:  #b3b3b3;
  border: 1px solid black;
}

.shapeWrapper .smallButton button{
  font-size: 15px;
  font-family: 'Titillium Web', sans-serif;
  border-radius: 5px;
}

.shapeWrapper .smallButton button:hover {
  background-color: #d9d9d9;
}

canvas{
  border: none;
  margin: 0;
  width: 240px;
  height: 140px;
  center: center;
}

/*Entire Toolbar*/
#canvasToolbarWrapper{
  background-color: #333;
  border-bottom: 1px solid black;
  overflow: hidden;
}

/*Tools Toolbar*/
#toolsToolbar{
  position:absolute;
  display:inline-block;
  left: 0;
}

/*Shapes Toolbar*/
#shapesToolbar{
  position:absolute;
  display:inline-block;
  right: 0;
  top: 0;
}

/*Drawing Area*/
#canvasWrapper{
  display:inline-block;
  z-index: 2;
  min-width: 100%;
  min-height: 100vh;
  background-color: white;
}
#coords{
  position:absolute;
  bottom:0;
  left:1%;
}
.point{
  position:absolute;
  width:1px;
  height:1px;
  background-color:black;
  overflow: hidden;
}
